{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
<main class="container mt-4">
    <section class="card shadow p-4">
        <h1>Réserver un trajet</h1>
        <p><strong>Trajet :</strong> {{ trajet.depart }} → {{ trajet.destination }} | le {{ trajet.dateHeure|date('d/m/Y H:i') }}</p>
        <p><strong>Places disponibles :</strong> {{ trajet.nbPlaces }}</p>

        {{ form_start(form) }}
            {{ form_row(form.places) }}
            <button class="btn btn-success mt-2">Réserver</button>
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}
