{% extends 'base.html.twig' %}

{% block title %}Créer un employé{% endblock %}

{% block body %}
<section class="container mt-5">
    <h1>Créer un nouvel employé</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.password) }}

        <button class="btn btn-primary mt-3">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_index') }}">← Retour au tableau de bord</a>
</section>
{% endblock %}
